// general

// header

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 200px;
  height: 200px;
  float: left;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

// hero

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background: url(https://images.unsplash.com/photo-1604275291560-55f54cec0e4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)
    center center no-repeat;
  background-size: cover;
}

.hero-title {
  width: 1000px;
  height: auto;
  object-fit: cover;
  object-position: left top;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 16vh;
  }
}

.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  font-size: 3vh;
  padding: 0.5em 0.67em;
  color: white;
  text-decoration: none;
  border: 0.1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

// article

//nav bar
:root {
  --background: #000;
  --text: #fff;
  --highlight: #f95738;
}

@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
}

.positioning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      position: absolute;
      bottom: -2px;
      content: "";
      width: 100%;
      height: 3px;
      background: var(--highlight);
      transform: translateX(-100%);
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: 0.5s transform ease, 0.8s opacity ease;
        transform: translateX(0);
      }
    }
  }

  .active {
    color: var(--highlight);

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}
