@import url("https://fonts.googleapis.com/css?family=Oswald");
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
  height: 150px;
  float: left;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background-size: cover;
  /* overflow-y: scroll; */
}

.hero-title {
  width: 1100px;
  height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 16vh;
  }
}
.hero-footer {
  display: flex;
  margin-bottom: 1em;
  margin-left: 2em;
}

.button {
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  font-size: 3vh;
  padding: 0.5em 0.67em;
  color: white;
  text-decoration: none;
  border: 0.1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

.button.hidden {
  display: none;
}

:root {
  --background: #000;
  --text: #fff;
  --highlight: #f95738;
}

body {
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
}

.positioning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
}

.login_signup {
  display: flex;
  list-style-type: none;
  justify-content: left;
  top: 25px;
  left: 25px;
}

ul a {
  margin: 10px 30px;
  position: relative;
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
ul a:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--highlight);
  transform: translateX(-100%);
  opacity: 0;
}
ul a:hover:before {
  opacity: 1;
  transition: 0.5s transform ease, 0.8s opacity ease;
  transform: translateX(0);
}
ul .active {
  color: var(--highlight);
}
ul .active:hover:before {
  opacity: 0;
} /*# sourceMappingURL=HomePage.css.map */

.li_logo {
  justify-content: left;
  padding-right: 20em;
  top: 25px;
  left: 25px;
}
.nav-logout {
    margin: 10px 30px;
    position: relative;
    color: #f95738;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-group {
  display: block;
}

.btn_mini_sign_in {
  background-color: var(--blue);
  background-image: linear-gradient(
    90deg,
    var(--blue) 0%,
    var(--lightblue) 74%
  );
  border-radius: 20px;
  border: 1px solid white;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-right: 1rem;
}

.btn_mini:hover {
  transform: scale(1.2);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}
